<div class="row">
  <div class="col-12 col-md-4">
    <div class="recipeAvatar">
      <img class="w-100" src="{{recipe.image}}" alt="image">
    </div>
  </div>

  <div class="col-12 col-md-8">
    <div class="p-4 border border-1 h-100">
      <h1 class="fw-bolder text-danger">{{recipe.name}}</h1>
      <p>{{recipe.description}}</p>
      <p class="fw-lighter"><em>Created by {{recipe.User.name}}</em></p>
      <a href="/recipes/{{recipe.id}}/edit" class="btn btn-primary">edit</a>
      <form action="/recipes/{{recipe.id}}/delete?_method=DELETE" method="POST" style="display: contents;">
        <button class="btn btn-danger" onclick="return confirm('Are you sure to delete?')">delete</button>
      </form>
    </div>
  </div>

  <div class="col-12 col-md-6 mt-4">
    <h3>Ingredients</h3>
    <ul>
      {{#each recipe.Ingredients}}
      <li>{{this.content}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-12 col-md-6 mt-4">
    <h3>Directions</h3>
    <ul>
      {{#each recipe.Directions}}
      <li>{{this.content}}</li>
      {{/each}}
    </ul>
  </div>
</div>